.DS_Store
.idea/*
.vscode/*
**/__pycache__/*
**/.ipynb_checkpoints/
**/test/*
**/log/*
**/reference/*
project2/saved_curves/*
project2/saved_models/*
project2/saved_boards/*
project2/code/VGG_BatchNorm/*
project2/landscape/*
project3/data/*
project3/CRNN_Chinese_Characters_Rec/*
project3/ESAT/*
project3/pths/*
*.h5
*.pdf
*.zip
*.tar.gz

# Ignore all files in "LaTeX" folders
**/report/*

# Except .tex files and files in the /images/ folder
!**/report/*.tex
!**/report/*.bst
!**/report/*.cls
!**/report/*.bib
!**/report/figures/
!**/report/*.pdf