.DS_Store
.idea/*
.vscode/*
**/__pycache__/*
**/.ipynb_checkpoints/
**/test/*
**/log/*
**/saved_curves/*
**/saved_models/*
**/saved_boards/*
*.h5
*.pdf
*.zip
*.tar.gz

# Ignore all files in "LaTeX" folders
**/report/*

# Except .tex files and files in the /images/ folder
!**/report/*.tex
!**/report/*.bst
!**/report/*.cls
!**/report/*.bib
!**/report/figures/
!**/report/*.pdf